*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  max-width: 400px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  margin: 100px auto 0;
  padding: 20px;
  overflow-y: auto;
  /* overflow-x: hidden; */
  background: rgb(241, 234, 234);
}
.App::-webkit-scrollbar {
  display: none;
}
.container {
  width: 100%;
  margin: auto;
  max-width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  background: rgb(217, 213, 213);
}
h4 {
  font: 700 16px/18px Arial;
  margin-bottom: 10px;
}
